.our_work {
  background-color: white;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.our_work_wrapper {
  font-family: "Roboto Condensed";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px;
  color: black;
}

.our_work_tittle {
  font-family: "Roboto Condensed";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: black;
}

.our_work_subtitle {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  align-items: center;
  color: black;
}

.our_work_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our_work_cards-card {
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  padding: 0;
  transition: all 2s;
  margin: 5px;
  background-color: $light;
  color: black;
}

.card-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.card_img{
  width: 40px;
  height: 40px;
}

@media (min-width: 992px) {
  .our_work {
    color: $danger;
  }

  .our_work_wrapper {
    font-family: "Roboto Condensed";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px;
    color: white;
  }

  .our_work_cards {
    width: 100vw;
    display: grid;
    grid-template-areas:
      "card01 card02 card05"
      "card03 card04 card06";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0px 40px 0px;
    gap: 245px;
    margin: 0px;
  }

  .our_work_cards-card {
    box-shadow: 37px 37px 26px -25px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 37px 37px 26px -25px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 37px 37px 26px -25px rgba(0, 0, 0, 0.46);
    font-family: "Roboto Condensed";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 20px;
    width: 250px;
    height: 325px;
    padding: 8px;
    transition: all 2s;
    margin: 5px;
    background-color: $light;
    /*quise hacer el box shadow con @extend pero no me dejaba al estar dentro del media*/
  }

  .card01 {
    grid-area: card01;
  }
  .card02 {
    grid-area: card02;
  }
  .card03 {
    grid-area: card03;
  }
  .card04 {
    grid-area: card04;
  }
  .card05 {
    grid-area: card05;
  }
  .card06 {
    grid-area: card06;
  }

  .our_work_cards-card:hover {
    transform: scale(1.3);
    background-color: rgb(0, 53, 71);
    border-radius: 10px;
    color: white;
  }

  .our_work_cards-card p {
    font-size: 22px;
  }
}