.contact {
  width: 100vw;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  color: black;
}  

.contact_tittle {
  color: black;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  padding-top: 30px;
}

.contact_subtitle {
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  color: black;
  text-align: center;
}

.form_contact {
  display: block;
  text-align: center;
}

.contact_thanks_img {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50%;
}

.contact_header {
  background-image: url(/Menu/images/wallpapers/index-wallpaper.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: 220vw;
  background-repeat: no-repeat;
}

.formulario-bootstrap{
  padding: 0 16rem 0;
  color: white;
  text-align: center;
}

@media (min-width: 992px) {
  .contact_img {
    width: 99vw;
    display: flex;
    justify-content: center;
    padding: 10px 30px 10px;
  }
}
