/* Resets */
* {
  margin: 0;
  padding: 0;
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-img {
  width: 70px;
  height: 70px;
}

.html {
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
  color: black;
}
/* inicio estilos del header principal */

.audio {
  width: 100%;
  background-color: rgb(10, 44, 74);
  position: relative;
}

.header-and-main {
  background-image: url(/Menu/images/wallpapers/index-wallpaper.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: 220vw;
  background-repeat: no-repeat;
  background-color: rgb(9, 39, 65);
}

/*Estilos logo del header */
.header-logo {
  height: 40px;
}

.page-header {
  font-family: "Roboto Condensed";
  color: white;
  font-size: large;
  list-style: none;
}



.footer {
  background-color: rgb(8, 111, 255);
  font-family: "Roboto Condensed";
  padding: 0 30px;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.menu_tittle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
  height: 30%;
}

.menu_table {
  background-color: rgb(10, 120, 175);
}

.tabla_menu {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px 0 10px;
  overflow-x: scroll;
  position: relative;
}

.recoms {
  background-color: rgb(9, 39, 66);
  font-family: "Roboto Condensed";
}

.recoms p {
  font-size: 16px;
}

.recoms_tittle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}

.recoms_images {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.imagen_menu {
  width: 50%;
  padding: 5px;
}

.nosotros {
  background-color: rgb(10, 120, 175);
}

.header_wallpaper {
  background-image: url(/Menu/images/wallpapers/index-wallpaper.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: 220vw;
  background-repeat: no-repeat;
}

.nosotros_tittle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}

.nosotros_subtitle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}

.mapa {
  width: 100%;
  display: block;
  text-align: center;
}

.promos {
  background-color: rgb(10, 120, 175);
}
.promo_tittle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}

.promo_media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo_content {
  margin: 10px;
  border-radius: 30px;
  height: 200px;
}

.contact {
  background-color: rgba(7, 34, 58, 0.934);
}

.contact_tittle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}

.contact_subtitle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  text-align: center;
}

.form_contact {
  display: block;
  text-align: center;
}

.contact_thanks_img {
  width: 100%;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 50%;
}

.contact_header {
  background-image: url(/Menu/images/wallpapers/index-wallpaper.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: 220vw;
  background-repeat: no-repeat;
}

/* DESKTOP VERSION */

@media (min-width: 992px) {
  /* estilo boton de nav */

  .page_header_nav-button {
    border: 1px solid white;
    border-radius: 40px;
    padding: 10px 15px;
    margin-left: 20px;
  }

  /* lista del header */

  .link {
    text-decoration-color: white;
  }

  /* fin estilos del header */

  /* Inicio estilos de MENU */

  .menu_tittle {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
  }

  .menu_table {
    background-color: rgb(10, 120, 175);
  }

  .tabla_menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 10px;
    overflow: visible;
  }

  /* Fin estilos de MENU */

  /* Inicio estilos de recomendaciones de Menu */

  .recoms {
    background-color: rgb(7, 34, 58);
    font-family: "Roboto Condensed";
  }

  .recoms p {
    font-size: 16px;
  }

  .recoms_tittle {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
  }

  .recoms_images {
    width: 100%;
    display: block;
    text-align: center;
  }

  .imagen_menu {
    height: 500px;
    width: 50%;
  }

  /* Fin estilo de recomendaciones de menu */

  /* Inicio estilos de promos */

  .promo_media {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .promo_content {
    margin: 10px;
    border-radius: 30px;
    width: 500px;
    height: 500px;
  }

  .promo_media {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* fin estilo de promos */

  .contact_img {
    width: 100%;
    display: flex;
    align-items: center;
  }

  /* inicio estilos submenu */

  .submenu {
    background-color: rgb(7, 34, 58);
  }

  .submenu_tittle {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
  }

  .submenu_subtitle {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
  }

  .submenu_imgs {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .submenu_media {
    height: 400px;
    width: 400px;
  }

  /* fin estilos submenu */

  /* inicio estilos legales */

  .legal_button {
    font-family: "Roboto Condensed";
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    background-color: rgb(21, 120, 186);
    padding: 20px 0 20px 0;
  }

  .legales {
    background-color: rgb(7, 34, 58);
    display: block;
    text-align: left;
    color: white;
  }

  /* fin estilos legales */

  /* inicio de las animaciones */


}
