/* Resets */
* {
  margin: 0;
  padding: 0;
}

.fixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-img {
  width: 70px;
  height: 70px;
}

.html {
  font-family: "Roboto Condensed";
}

a {
  text-decoration: none;
  color: black;
}
/* inicio estilos del header principal */

.audio {
  width: 100%;
  background-color: rgb(10, 44, 74);
  position: relative;
}

.header-and-main {
  background-position: center center;
  background-attachment: fixed;
  background-size: 220vw;
  background-repeat: no-repeat;
  background-color: rgb(9, 39, 65);
}

.nav-link{
  color: white;
}
/*Estilos logo del header */

.footer {
  background-color: rgb(8, 111, 255);
  font-family: "Roboto Condensed";
  padding: 0 30px 0;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/*estilos de las secciones cafe food y drinks que son solo galerias*/


.submenu_tittle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 30px;
  font-style: normal;
  font-weight: 200;
  display: flex;
  justify-content: center;
}

.submenu_subtitle {
  color: white;
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.submenu_imgs {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submenu_media {
  width: 150px;
  border-radius: 20px;
  margin: 20px;
}

/* fin estilos secciones cafe food y drinks */

/* DESKTOP VERSION */

@media (min-width: 992px) {
  .link {
    text-decoration-color: white;
  }

  /* inicio estilos legales */

  .legal_button {
    font-family: "Roboto Condensed";
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
    background-color: rgb(21, 120, 186);
    padding: 20px 0 20px 0;
  }

  .legales {
    background-color: rgb(7, 34, 58);
    display: block;
    text-align: left;
    color: white;
  }

  /* fin estilos legales */
}
