.legales{
    color: white;
    padding: 10px 30px 10px;
    font-family: "Roboto Condensed";
    font-style: normal;
}

.legales_tittle{
    font-weight: 900;
}
.legales_subtitle{
    font-weight: 400;
    font-size: 30px;
}