
  
  .header_wallpaper {
    background-image: url(/Menu/images/wallpapers/index-wallpaper.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 220vw;
    background-repeat: no-repeat;
  }
  
  .nosotros_tittle {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 30px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
  }
  
  .nosotros_subtitle {
    color: white;
    font-family: "Roboto Condensed";
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    text-align: center;
  }
  
  .mapa {
    width: 100%;
    display: block;
    text-align: center;
  }

  